@import "./../App.scss";

.reporteria-metricas{
  background-color: white;
  min-width: 1200px;
  margin: 2rem 2rem;
  padding: 2rem;
  border-radius: 25px;
  .filtros-metricas{
    display: none;
  }
  .btn-metricas-detalle{
    display: none;
  }
  .container-metricdetail{
    margin-bottom: 0rem;
  }
}
.table-prosp{
  font-size: 10rem;
}
.tags-seguimientos .ant-tag {
  max-width: 150px; // Establece un ancho máximo para los tags
  overflow: hidden; // Oculta el texto que desborda el ancho máximo
  text-overflow: ellipsis; // Agrega puntos suspensivos (...) al texto truncado
  white-space: nowrap; // Evita que el texto se ajuste automáticamente
}

.filters{
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}

.mensajes-view {
  display: flex;
  height: 550px;
  border: 0.3px solid rgba(208, 208, 208, 0.592);
  border-radius: 10px;
  overflow-y: auto; /* Agregar scroll vertical */
}

.contenedor-tabla-mensajes{
display: flex;
gap: 0.5rem;
}

.img-calen{
  width: 30%;
}

.calen-dis{
  cursor: no-drop;
}

.subtitulo-reporteria{
  font-size: 20px;
}

.logo-marca{
  display: flex;
  align-items: flex-end;
}

.titulo-reporteria{
  margin-left: 2rem;
  font-size: 50px;
  font-weight: 200;
}

.nav-reporteria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #dddddd;
}



.statidistics-progress {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.statidistics {
  display: flex;
  width: 100%;
}

// .barra-button{
//   width: 50%;

// }

.carta{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid rgb(212, 212, 212);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
box-shadow: 2px 4px 5px -2px rgba(182, 182, 182, 0.75);
-webkit-box-shadow: 2px 4px 5px -2px rgba(182, 182, 182, 0.75);
-moz-box-shadow: 2px 4px 5px -2px rgba(182, 182, 182, 0.75);
  padding: 1rem;
  margin-bottom: 1rem;
}  

.contenedor-estadisticas-barra {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.mes {
  display: flex;
  margin: 1rem 0.5rem;
  font-weight: 300;
}

.contenedor-metricas {
  display: flex;
  gap: 1rem;
}

.contenedor-login{
  display: flex;
  align-items: center;
}

.img-fondo{
  width: 100%;
}

.login{
  width: 50%;
}

.img-login{
  width: 50%;
}

.container-metricdetail{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.container-detalles{
  width: 32%;
}

@media (max-width: 1100px) {
  .img-login{
    display: none;
  }

  .container-detalles{
    width: 100%;
  }

  .login {
    width: 100%;
    background-size: 50%;
    height: 900px;
    background-color: $color-principal;
  }

  .contenedor-metricas{
    flex-direction: column;
  }

  .contenedor-estadisticas-barra{
    display: block;
    width: 100%;
  }

.barra-button{
  width: 100%;
  
}

.form-login{
  margin-top: 50%;
}

  
}

.form-login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-login{
width: 100%;
background-color: #25272E;
}

.boton-login:hover{
  background-color: #818181 !important;
  }


.subtitulo-carta{
    font-weight: 200;
    color:rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.tags-seguimientos{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}