@import "./../App.scss";


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}

.user {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  color: white;
  font-size: 20px;
}

.button-cualificados {
  background-color: $color-principal;
  color: white;
  margin-left: 1rem;
}

.button-cualificados:hover {
  background-color: #5b5b5c !important;
  color: white !important;
  border-color: white !important;
}

.btn-guardar{
  background-color: $color-secundario;
  color: white;
}

.transfer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-subir {
  min-width: 200px;
}

.btn-subir:hover {
  color:  $color-principal !important;
  border-color:  $color-principal !important;
}


.tags-cuenta {
  margin-top: 1rem;
}

.tag {
  margin-left: 0.5rem;
}

.icono1 .ant-float-btn-body {
  background: $color-wsp !important;
}

.icono2 .ant-float-btn-body {
  background: $color-secundario !important;
  color: white !important;
}

.btn-customizacion {
  margin-top: 1rem;
}

.transfer-modal{
  height: 500px,
}

.ant-transfer-list {
  width: 400px !important;
}

.disabled{
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.date-picker{
  width: 100%;
}

.modal-descargarexcel{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}




@media (max-width: 1100px) {

.button-cualificados {
  margin-left: 0rem;
}

.nav {
max-width: 300px;
}

.user {
  margin-top: 0.75rem;
  margin-left: 1.5rem;
}

.ant-transfer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-picker-panels{
  display: inline-flex;
    flex-wrap: wrap;
    direction: ltr;
    justify-content: center;
    flex-direction: column;
}

.ant-transfer-list {
  width: 300px !important;
  height: 500px,
}

}

