.ant-layout-sider-children{
    background-color: #25272E
}
.ant-layout-header{
    background-color: #25272E
}

.ant-menu-item{
    background-color: #25272E
}

.ant-menu{
    background-color: #25272E
}

.ant-layout .ant-layout-sider-trigger{
    background-color: #25272E
}


