$color-principal: var(--color-principal);
$color-secundario: var(--color-secundario);
$font: var(--font);
$color-wsp: #25D366; 


.ant-layout-sider-children{
    background-color: $color-principal !important
}
.ant-layout-header{
    background-color: $color-principal !important
}

.ant-menu-item{
    background-color: $color-principal !important
}

.ant-menu{
    background-color: $color-principal !important
}

.ant-layout .ant-layout-sider-trigger{
    background-color: $color-principal !important
}

*{
    font-family: $font;
}

.ant-btn-primary{
    background-color: $color-principal !important;
    color: white !important;
}



.ant-btn-primary:hover{
    border-color: white !important;
    color: white !important;

}

.ant-btn-default:hover{
   border-color: $color-principal !important;
   color: black !important;
}